fastapi
uvicorn
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
sqlalchemy
reportlab
pyclamd
PyJWT
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
