fastapi
uvicorn
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
sqlalchemy
reportlab
pyclamd
PyJWT
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
