fastapi
uvicorn
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
sqlalchemy
reportlab
pyclamd
PyJWT
starlette>=0.47.2 # not directly required, pinned by Snyk to avoid a vulnerability
